div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #ffffff;
  font-family: sans-serif;
}

p {
  text-indent: 1em;
  margin: 4px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

body {
  margin: 0;
  background-color: #e0e0e0;
  overflow:;
}

a {
  color: #cfd8dc;
}

nav {
  position: fixed;
  margin: 0;
  border-top: 100;
  color: #fff;
  background-color: #03a9f4;
  width: 100%;
  height: auto;
  line-height: 60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.326), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  top: 0;
  color: #fff;
  z-index: 100;
}

nav .title {
  height: 100%;
  text-align: center;
  font-weight: bold;
  float: left;
}

.nav-links {
  height: 100%;
  width: 100px;
  text-align: center;
  float: right;
  font-size: 18pt;
  vertical-align: center;
  padding: 3px;
}

.content {
  z-index: -1;
  top: -10;
  background-color: #ffffff;
  padding-top: 100;
  padding-bottom: 100;
  padding-left: 30;
  padding-bottom: 30;
  width: 85%;
  height: auto;
  margin: 5rem auto 5rem auto;/*middle*/
}

.container {
  text-align: center;
  background-color: transparent;
  width: 100%;
  min-height: 330px;
  position: relative;
  overflow: hidden;
  padding: 0;
  border: 0;
}

.card {
  margin: 10px;
  width: 300px;
  height: 300px;
  float: left;
  position: relative;
  border-radius: 3px;
}

.card {
  padding: 20px;
  min-height: 20px;
  height: auto;
  border-radius: 3px;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left
}

.card-large {
  padding: 20px;
  min-height: 20px;
  margin: 0 auto 0 auto;
  height: auto;
  width: 90%;
  position: relative;
  border-radius: 3px;
  display: block;
  float: top;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: left
}

.card-large h1 {
  text-align: center;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.fixed {
  position: fixed;
  right: 4.3%;
  bottom: 70px;
  overflow: hidden;
  z-index: 10000;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 0
}

.circle-large {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.text-box {
  float: left;
  width: 100%;
  height: auto;
  padding: 10;
}

@media screen and (max-width:1200px) {
  .card {
    width: 22%;
  }

}

@media screen and (max-width:1000px) {
  .card {
    width: 38%;
  }

}

@media screen and (max-width:700px) {
  .card {
    width: 90%;
  }

}
