div,h1,h2,h3,h4,h5,h6,p {
  color: #ffffff;
  font-family: sans-serif;
  margin:0px;
  padding:0px;
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

body {
  margin: 0;
  background-color: #e0e0e0;
  overflow:;
}

a {
  color: #cfd8dc;
}

nav {
  position: fixed;
  margin: 0;
  border-top: 100;
  color: #fff;
  background-color: #03a9f4;
  width: 100%;
  height: auto;
  line-height: 60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.326), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  top: 0;
  color: #fff;
  z-index: 20;
}

nav .title {
  height: 100%;
  text-align: center;
  font-weight: bold;
  float: left;
}

.nav-links {
  height: 100%;
  width: 100px;
  text-align: center;
  float: right;
  font-size: 18pt;
  vertical-align: center;
  padding: 3px;
}

#content {
  z-index: -1;
  top: -10;
  background-color: #ffffff;
  width: 80%;
  max-width: 1200px;
  height: auto;
  margin: 5rem auto 5rem auto;/*middle*/
  padding: 5px;
}

.container {
  text-align: center;
  background-color: transparent;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 10 10;
  border: 0;
  margin-top: 20px
}


.card:hover,.circle-large:hover,.nav-links:hover{
  position: relative;
  top:-4px;
  z-index:10;
  box-shadow: 1px 1px 96px 4px #fff, 0px 0px 40px #fff; 
}
.card:active,.circle-large:active,.nav-links:active{
  position: relative;
  top:-1px;
  z-index:10;
  box-shadow:0 10px 50px 8px rgba(0, 153, 255, 0.4), 0 20px 77px 10px rgba(0, 153, 255, 0.22)
}
.card-focus{
  position: relative;
  top:-5px;
  z-index:10;
  box-shadow:0 10px 50px 8px rgba(0, 153, 255, 0.4), 0 20px 77px 10px rgba(0, 153, 255, 0.22)
}

@-webkit-keyframes up-down {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes up-down {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.up-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.up-down:hover, .up-down:focus, .up-down:active {
  -webkit-animation-name: up-down;
  animation-name: up-down;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.card-large h1 {
  text-align: center;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}


@media screen and (max-width:1600px) {
  .card {
    width: 27%;
  }

}

@media screen and (max-width:1200px) {
  .card {
    width: 41%;
  }

}

@media screen and (max-width:800px) {
  .card {
    width: 90%;
  }
}

@media only screen and (orientation: portrait) and (min-resolution: 180dpi ) {
.text-box
{
  font-size: 50px;
}
.card{
  width: 90%;
}
.circle
{
  width:150px;
  height: 150px;
}
.circle-large
{
  width:600px;
  height: 600px;
}
p,ul,li,h4,h3,h5,body,h6{
  font-size: 30px;
}
h2{
  font-size: 40px;
}
h1{
  font-size: 50px;
}
nav .title{
  color: transparent;
}
.nav-links
{
  font-size: 50px;
  padding: 10px;
  width:auto;
  height: 80px;
}
}

.card {
  vertical-align: top;
  width: 95%;
  float: top;
  overflow: hidden;
  background: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
  display:inline-block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 3px;

}
.card .title {
  line-height: 48px;
  font-size: 24px;
  font-weight: 300;
}
.card .cardcontent {
  padding: 20px;
  font-weight: 300;
  border-radius: 0 0 2px 2px;
}
.card p {
  color: black;
  margin: 0;
}
.card .action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}
.card a {
  color: #ffab40;
  margin-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.card .image {
  position: relative;
  width: 100%;

}
.card .image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width:100%;
  height: auto;
  resize:auto;
}
.card .image .title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #FFF;
}

.column { float: left; height: auto;text-align: center;}
.size-1of3 { width: 33.333%; }
.loading-gif {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}
body.loading {
}

body.loading .loading-gif {
    display: block;
}
#POP{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
#POP .card{
  position: relative;
  top: 50%;
  min-width: 600px;
  transform: translateY(-50%);
  opacity: 0;
  resize: both;
  width: 90%;
  height:90%;
  background-color: transparent;
}
#POP .image{
  display: inline;
  float: left;
  position:relative;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  height: 100%;
  text-align: center;
  opacity:1;
  background-color: #000000;

}
#POP .image img{
  display: inline-block;
  position:relative;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height:auto;
  max-height:100%;
  max-width: 100%;
  
}
#POP #comments{
  float: right;
  width: 25%;
  height: 100%;
  display: inline;
  background-color: white;
}
#POP .commentBox{
  height: 92%;
  overflow: auto;
}
#POP .comment{
  width: 90%;
  padding-left: 5%;
  padding-top: 3%;
  height: auto;
  overflow: hidden;
}
.comment h1{
  font-size: 1.9vw;
  color: #1976d2;
}
.comment p{
  font-size: 1.7vw;
  color: black;
  padding: 3px;
}

#POP #LoadMore{
  width: 100%;
  text-align: center;
  font-size: 1vw;
  float: bottom;
  color: black;
  height: 7%;
  border: 0;

}
#POP .loadingGIF{
  position: fixed;
  top:49%;
  left:49%;
  margin-left: -150px;
  margin-top: -50px;
  width: 300px;
  height: 300px;
  background-color: transparent;
  text-align: center;

}
#POP .loadingGIF img{
  width: 60px;
  height: 60px;
  float: top;
  position: relative;
  background-color: transparent;
}
